:root {
  --google-font: "Lemon", serif;
  --google-font2: "Inconsolata", monospace;
}

/* 
#E0F4FF ()
#FDF7E4 (bg)
#424769

#AEE2FF
#ACBCFF
#B799FF
E6FFFD

#9BABB8
#EEE3CB
#D7C0AE
#967E76

#86A3B8
#E8D2A6
#F48484
#F55050

#2B3467
#BAD7E9
#FCFFE7
#EB455F
*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #fdf7e4;
  overflow-x: hidden;
}

.logo {
  text-align: center;
  height: 8vh;
  background-color: #eb455f;
  padding: 2vh;
  font-family: var(--google-font);
}

nav {
  max-height: 8vh;
  background-color: #b799ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  width: 20%;
  margin-top: 0.8em;
  font-family: var(--google-font2);
  list-style: none;
  cursor: pointer;
  margin: 10px;
}

.category,
.user-opt {
  margin: 10%;
  font-size: 16px;
  font-weight: 100;
}

.userlinks {
  height: 6vh;
  margin-right: 20px;
}

.user-opt img {
  height: 3vh;
}

.searchdiv {
  margin-left: 15vh;
  margin-right: 15vh;
  width: 50%;
}

.search-box {
  padding: 1vw;
  font-size: 17px;
  border: none;
  width: 80%;
  font-size: 1.4vw;
  height: 5vh;
  font-family: var(--google-font2);
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.search-btn {
  float: right;
  line-height: 0px;
  padding: 0.5vw;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  width: 20%;
  font-size: 1.4vw;
  height: 5vh;
  font-family: var(--google-font2);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.search-btn img {
  display: none;
}

.search-btn:hover {
  background: #bbb;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000000;
  margin: 5px;
}

/* end of navbar */

/* content section */

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel {
  margin: 13vh;
  background-color: #2b3467;
  width: 70%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* footer */

footer {
  background-color: #424769;
  height: 55vh;
  display: flex;
  justify-content: center;

  background-color: gray;
  padding: 10vh;
}

footer ul {
  margin-bottom: 10vh;
  margin-left: 15vh;
  width: 80vh;
}

/* media query */

/* tablet */

@media screen and (max-width: 876px) {
  .search-btn span {
    display: none;
  }
  .search-btn img {
    display: inline-block;
  }
  .searchdiv {
    width: 50%;
    margin: 50px;
  }
  .search-box {
    width: 75%;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .search-btn {
    width: 25%;
    margin-right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .userlinks {
    padding: 0%;
  }
}

/* mobile */
@media screen and (max-width: 770px) {
  .burger {
    display: block;
    margin-left: 12px;
    cursor: pointer;
  }
  .navlinks {
    position: absolute;
    height: 92vh;
    top: 6vh;
    background-color: lightblue;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    display: flex;
    flex-direction: column;
    transform: translateX(-106%);
  }

  .navlinks li {
    opacity: 0;
  }
  .category {
    font-size: 100%;
  }

  .searchdiv {
    width: 100%;
    margin: 10px;
  }
  .search-box {
    width: 75%;
    font-size: 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  .search-btn {
    width: 25%;
    margin-right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .search-btn img {
    height: 65%;
  }

  .search-btn span {
    display: none;
  }
}
